@charset "utf-8";
/* CSS Document */

nav {

height: 80px;
background-color: #A6A6A6;
	
}

#navBar {
	width: 920px;
	margin: 0 auto;
	
}

#navBar ul{
	margin: 0 auto;
	height: 80px;
	list-style: none
	
}

#navBar li{
	float: left;
	height: 80px;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	
}

#navBar li a:link, a:visited{
	font-size: 140%;
	display: block;
	color:#fff;
	padding: 25px;
	text-decoration: none;
	
}

#navBar li a:hover{
	background-color: #8E8E8E;
	text-decoration: none;
	
}
#content{
	width: 920px;
	background-color: #ccc;
	min-height: 800px;
	margin: 0 auto;
	
}
.footer {
	background-color: #FFFFFF;
	
}
.copyright {
	text-align: center;
	background-color: #8E8E8E;
	color: #FFFFFF;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}